name: MAL
on:
  schedule: 
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:
  actions: write
jobs:
  cronjob-based-github-action:
    name: Cronjob based github action (Keep workflow alive)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: liskin/gh-workflow-keepalive@v1
  main:
    runs-on: ubuntu-latest
    steps:
      - name: MyAnimeList
        uses: LucasHenriqueDiniz/WeebProfile@e342da9abef3074ee55432be09f05df622c4d0a4
        with:
          FILENAME: MyAnimeList.svg
          GIST_ID: ${{ secrets.GIST_ID }}
          GH_TOKEN: ${{ secrets.WEEB_GH_TOKEN }}
          STORAGE_METHOD: gist
          SIZE: half
          STYLE: default

          PLUGIN_MYANIMELIST: true
          PLUGIN_MYANIMELIST_USERNAME: ElectroHeavenVN
          PLUGIN_MYANIMELIST_SECTIONS: anime_simple_favorites, last_activity
          PLUGIN_MYANIMELIST_LAST_ACTIVITY_MAX: 3
          PLUGIN_MYANIMELIST_LAST_ACTIVITY_MEDIA: anime
